<mat-nav-list>
  <div class="logo py-4">
    <img src="/logo/logo-Institut-LKM-dAbidjan-Yopougon.png" alt="Company Logo" />
  </div>
  <h2 class="matSubheader mt-2">Mon Etab</h2>
  <mat-divider></mat-divider>

  <section class="list">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Tableau de bord
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/list-students">
      <mat-icon>people</mat-icon> Elèves
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/list-teachers">
      <mat-icon>man</mat-icon> Professeurs
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/list-users">
      <mat-icon>person</mat-icon> Utilisateurs
    </a>
  </section>
</mat-nav-list>
