:host{
  display: flex;
}

.menu-sidebar{
  width: 260px;
  height: 95vh;
  background: rgb(29 36 49);;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
  color: white;
}

.main {
  background: rgb(29 36 49);
  width: 80%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
}
